# Ensure only the absolutly necessary files are in source control.

# Ignore Gradle output
.gradle/*
build/

# Ignore intellij
.idea/*
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project

#Ignore MAC system files
.DS_Store